body{
    background: #BE95C4;
    
    
  }
   #container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
   }
   #container2{
    width:400px;
    margin:0 auto;
    margin-top:12%;
    margin-bottom: 10%;
   }
   /* Bordered form */
   form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
   form a{
    text-decoration: none;
    text-align: center;
    padding-left: 140px;
   }
   form a:hover{
    text-shadow:2px 2px 5px red;
    
   }
   #container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 70px;
    
   }
   #container2 h1{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 65px;
   }
   
   /* Full-width inputs */
   input[type=text], input[type=password],input[type=email],input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
   /* Set a style for all buttons */
   button {
    background-color: #9F86C0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
  button:hover {
    background-color: white;
    color: #9F86C0;
    border: 1px solid #9F86C0;
   }